<% @user.statuses.order('created_at').reverse.each do |status| %>
  <%= image_tag @user.avatar_url(status.user, resize: "24x24!") %>
  <h2><%= status.user.username %></h2>
  <p><%= simple_format(status.content) %></p>

  <p>
    <%= "#{status.likes.count} Likes" %>
  </p>
<% end %>
