
<div class="d-flex card mb-3">
  <div class="container">
    <div class="row">
      <div class= "mb-5 mt-2 col-12 text-center">
        <h1 class="text-center mb-5">Bio</h1>
        <%= simple_format(@user.bio) %>
      </div>
    </div>
</div>

