<%= render "basic_infos.html" %>
<div class="justify-content-end text-white">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-l-6 col-xl-6">
            <%= render "navbar.html" %>
        </div>
            <%= render "bio.html" %>
        <div class="col-sm-12 col-md-6 col-l-6 col-xl-6 col-md-6">
            <%= render "account_feed.html" %>
        </div>
    </div>
</div>
