<header class="text-center text-white masthead" id="bg-layout-committi">
    <div class="container">
        <%= image_tag 'committi-orange.svg', :id => 'logo-committi' %>
        <p class="header-p">Vous avez toujours voulu vous dépasser avec des défis? Venez créer les vôtres en rejoignant&nbsp; la communauté de Committi</p>
        <%= button_to "S'inscrire", new_user_registration_path, :class => "btn btn-primary", :id => "btn-signup", :type => "button" %>
        </div> 
</header>

<div class="container">
    <%= yield %>
</div>