<header class="text-center text-white masthead" id="bg-index-committi">
    <div class="container">
        <p class="header-p">Vous avez toujours voulu vous dépasser avec des défis? Venez créer les vôtres en rejoignant la communauté de Committi</p>
        <%= link_to "S'inscrire", new_user_registration_path, :class => "btn btn-primary", :id => "btn", :type => "button" %>
        </div> 
</header>

<div class="container">
    <%= yield %>
</div>