<% if user_signed_in? && enrolled?(@challenge, current_user) %>
  <% if @enrollment.streaks > 0 %>
  <p><%= @enrollment.streaks %> jours de participation consécutifs&nbsp;!</p>
  <% elsif @enrollment.streaks = 0 %>
    <p>Vous n’avez aucune progression sur ce challenge.</p>
  <% end %>
<% end %>
