<h2>Les Challenges</h2>

<% @challenges.order('created_at').reverse.each do |challenge| %>
  <p>
    <%= link_to challenge_path(challenge.slug) do %>
      <%= challenge.title %> - <%= challenge.subtitle %>
    <% end %>
  </p>
<% end %>
