<div class="pageheader bg-white px-5 pt-5 mb-5">
  <div class="container mb-5">
    <h1 class="h3">Les Challenges</h1>
  </div>
  <div class="container pb-2">
    <div class="nav-list text-center">
      <%= link_to "Tous", categories_path, :class => "link-dark" %>
      <% @categories.each do |category| %>
        <% if category.slug == params[:slug] %>
        <%= link_to category.name, category_path(category.slug), :class => "active" %>
        <% else %>
          <%= link_to category.name, category_path(category.slug), :class => "link-dark" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "layouts/challenges_cards" %>
