<% unless current_page?(root_path) || user_signed_in? || resource.errors.any? %>
  <div class="pageheader alert alert-primary alert-dismissible fade show mb-0 py-5" role="alert">
    <div class="container">
      <p class="h3">Bienvenue sur Committi</p>
      <p>Committi est un réseau social de défis communautaires.<br />
      <%= link_to "En savoir plus…", root_path %></p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>

<% unless notice.nil? %>
  <div class="pageheader alert alert-success alert-dismissible fade show mb-0 py-5" role="alert">
    <div class="container">
      <p><i class="bi bi-info-circle"></i> <%= notice %></p>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% unless alert.nil? %>
  <div class="pageheader alert alert-danger alert-dismissible fade show mb-0 py-5" role="alert">
    <div class="container">
      <p><i class="bi bi-exclamation-triangle-fill"></i> <%= alert %></p>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
