<% unless notice.nil? %>
<div class="notice alert-success alert-dismissible fade show w-50" role="alert">
  <%= notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>

<% unless alert.nil? %>
<div class="alert alert-danger alert-dismissible fade show w-50" role="alert">
  <%= alert %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>
