<nav class="navbar justify-content-center align-item-center align-content-center">
    <%= image_tag 'committi-orange.svg', :id => 'logo-committi-navbar' %>
    <a class="navbar-brand" href="/">A propos</a>
    <a class="navbar-brand" href="/">Contact</a>
    <a class="btn btn-outline-primary" href="/login" role="button">Login</a>
</nav>